@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #003890;
  --color-text-light: #0063b0;
  --color-text-dark: #51a2ff;
  --color-bg-primary-dark: #1e2939;
  --color-bg-secondary-dark: #101828;
  --color-bg-light: #f9fafb;
  --toast-bg: #ffffff;
  --toast-text: #0f172a;
  --toast-border: rgba(15, 23, 42, 0.12);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.dark {
  --toast-bg: var(--color-bg-primary-dark);
  --toast-text: #ffffff;
  --toast-border: rgba(255, 255, 255, 0.12);
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Dark scrollbar */
.dark-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.dark-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background-color: #374151;
  /* gray-700 */
  border-radius: 9999px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #1f2937;
  /* gray-800 */
}

/* Firefox */
.dark-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #374151 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

/* إخفاء شريط التمرير للمتصفحات المختلفة */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.prose ul {
  list-style-type: disc !important;
  padding-left: 1.5rem !important;
}
.prose ol {
  list-style-type: decimal !important;
  padding-left: 1.5rem !important;
}
